<div class="contact-us-container">
  <div class="contact-us-wrapper postion-relative">
    <div class="contact-us-banner">
      <div class="contact-us-banner-text h-100">
        <h1 class="fs-1">Contact Us</h1>
        <h2 class="fs-2 text-uppercase">Drop us a line, get in touch</h2>
      </div>
    </div>
  </div>

  <div class="get-in-touch my-5">
    <div class="row g-0 justify-content-around">
      <div class="write-to-us col-sm-12 col-md-12 col-lg-7">
        <h1 class="fs-2">Write to us by filling in the form below</h1>
        <div class="underline"></div>
        <div class="form-container">
          <form class="example-form col-sm-12 col-lg-8 mx-auto">
            <mat-form-field
              class="example-full-width d-block text-dark"
              appearance="standard"
            >
              <mat-label class="text-dark">Your Name</mat-label>
              <input type="text" matInput class="fs-5 text-dark" />
            </mat-form-field>

            <mat-form-field
              class="example-full-width d-block w-100 text-dark"
              appearance="standard"
            >
              <mat-label class="text-dark">Email Id</mat-label>
              <input type="email" matInput class="fs-5 text-dark" />
            </mat-form-field>

            <mat-form-field
              class="example-full-width d-block w-100 text-dark"
              appearance="standard"
            >
              <mat-label class="text-dark">Message</mat-label>
              <textarea matInput placeholder="How can we help you!"></textarea>
            </mat-form-field>

            <button mat-raised-button color="accent" type="submit">
              Contact Us
            </button>
          </form>
        </div>
      </div>
      <div class="address col-sm-12 col-md-12 col-lg-4">
        <h1 class="fs-2">Contact Us</h1>
        <div class="underline text-success"></div>

        <div class="contact-address">
          <mat-list>
            <mat-list-item role="listitem" class="py-2 h-auto">
              <mat-icon class="d-inline-block"> place </mat-icon>
              <div class="address ms-3 text-muted col-10">
                Big Tree Entertainment Private Limited Ground Floor, Wajeda
                House, Gulmohar Cross Road No. 7, Juhu Scheme, Mumbai,
                Maharashtra - 400049
              </div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item role="listitem" class="py-2 h-auto">
              <mat-icon class="d-inline-block"> email </mat-icon>
              <div class="address ms-3 text-muted col-10">nms@cinemas.com</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item role="listitem" class="py-2 h-auto">
              <mat-icon class="d-inline-block col-1"> support_agent </mat-icon>
              <div class="address ms-3 text-muted col-10">1800-894-4059</div>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
    </div>
  </div>
</div>
