/* // mat-icon-stepper selected color change  */
::ng-deep .mat-step-header .mat-step-icon-selected,
::ng-deep .mat-step-header .mat-step-icon-state-done,
::ng-deep .mat-step-header .mat-step-icon-state-edit {
  background-color: white !important;
}

/* //mat-input focused color */
::ng-deep
  .mat-form-field-appearance-outline.mat-focused
  .mat-form-field-outline-thick {
  color: blueviolet !important;
}

/* // mat-input error outline color */
::ng-deep
  .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid
  .mat-form-field-outline-thick {
  color: red !important;
  /* opacity: 0.8!important; */
}

/* // mat-input carent color */
::ng-deep .mat-input-element {
  caret-color: #fff !important;
}

/* // mat-input error carent color */
::ng-deep .mat-form-field-invalid .mat-input-element,
::ng-deep .mat-warn .mat-input-element {
  caret-color: red !important;
}

/* // mat-label normal state style */
::ng-deep .mat-form-field-label {
  color: #fff !important;
}

/* //input outline color */
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #fff !important;
}
/* // mat-label focused style */
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: blueviolet !important;
}

/* // mat-label error style */
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: red !important;
}

::ng-deep .mat-select .mat-select-trigger .mat-select-value {
  color: #fff;
}

::ng-deep .mat-input-element::placeholder {
  color: #fff;
}
