<nav
  *ngIf="router.url !== '/select-seats'"
  id="nav-bar"
  class="navbar navbar-expand-lg navbar-dark bg-show text-white px-lg-3"
>
  <div class="container-fluid">
    <a mat-button class="navbar-brand ms-sm-3 fs-4" routerLink="/home">{{
      title
    }}</a>
    <button
      class="navbar-toggler"
      mat-icon-button
      aria-label="Example icon-button with a menu"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-sm-center">
        <li class="nav-item mx-lg-2 mx-md-auto">
          <a
            mat-button
            class="nav-link"
            aria-current="page"
            routerLinkActive="active"
            routerLink="/home"
            >Home</a
          >
        </li>
        <li class="nav-item mx-lg-2 mx-md-auto">
          <a
            mat-button
            class="nav-link"
            routerLinkActive="active"
            [routerLink]="['/movies']"
            >Movies</a
          >
        </li>
        <li class="nav-item mx-lg-2 mx-md-auto">
          <a
            mat-button
            class="nav-link"
            routerLinkActive="active"
            routerLink="/about"
            >About Us</a
          >
        </li>
        <li class="nav-item mx-lg-2 mx-md-auto">
          <a
            mat-button
            class="nav-link"
            routerLinkActive="active"
            routerLink="/contact"
            >Contact Us</a
          >
        </li>
        <li class="nav-item dropdown" *ngIf="service.isAdmin()">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="admin-panel"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Admin Panel
          </a>
          <ul class="dropdown-menu" aria-labelledby="admin-panel">
            <li class="nav-item mx-lg-2 mx-md-auto">
              <a
                class="dropdown-item"
                href="#"
                routerLinkActive="active"
                routerLink="/admin/add-auditorium"
                >Add Auditorium</a
              >
            </li>
            <li class="nav-item mx-lg-2 mx-md-auto">
              <a
                class="dropdown-item"
                href="#"
                routerLinkActive="active"
                routerLink="/admin/add-movie"
                >Add Movie</a
              >
            </li>
            <li class="nav-item mx-lg-2 mx-md-auto">
              <a
                class="dropdown-item"
                href="#"
                routerLinkActive="active"
                routerLink="/admin/manage"
                >Manage</a
              >
            </li>
          </ul>
        </li>
      </ul>
      <div class="profile text-sm-center">
        <!-- <button mat-button [matMenuTriggerFor]="menu">
          <img
            class="rounded-circle mx-2"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSK9DmKOF9VCBqRzdHLzwyyOXjDm4kOYjD9IZQo2WviiLzzxDmzwYQZaVK6_7o_Qc7famc&usqp=CAU"
            alt=""
            width="45"
            height="45"
          />
          My Account
        </button>
        <mat-menu #menu="matMenu">
          <a routerLink="/user/login" mat-menu-item>Login</a>
          <a routerLink="/user/register" mat-menu-item>Register</a>
          <a routerLink="/user/forgot-password" mat-menu-item>
            Forgot Password
          </a>
          <a routerLink="/user/profile" mat-menu-item>My Profile</a>
          <a routerLink="/user/bookings" mat-menu-item>My Bookings</a>
          <a routerLink="/user/logout" mat-menu-item>Logout</a>
        </mat-menu> -->
        <ul class="navbar-nav col-auto" *ngIf="service.isLoggedIn()">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle fs-6 my-2"
              href="#"
              id="account-links"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              >{{ service.getUser()?.email! }}
            </a>
            <ul
              class="dropdown-menu dropdown-menu-dark"
              aria-labelledby="account-links"
            >
              <li class="nav-item">
                <a class="dropdown-item py-1" routerLink="/my/profile"
                  >Profile</a
                >
              </li>
              <li class="nav-item">
                <a class="dropdown-item py-1" routerLink="/my/bookings"
                  >Bookings</a
                >
              </li>
              <li class="nav-item text-center">
                <a
                  class="btn btn-outline-warning btn-sm col-11 mt-2"
                  (click)="onLogout()"
                  >Logout</a
                >
              </li>
            </ul>
          </li>
        </ul>
        <div class="btn-group p-2" *ngIf="!service.isLoggedIn()">
          <a
            routerLink="/user/login"
            routerLinkActive="active"
            class="btn btn-primary btn-sm rounded mx-1"
            >Login</a
          >
          <a
            routerLink="/user/register"
            routerLinkActive="active"
            class="btn btn-success btn-sm rounded mx-1"
            >Register</a
          >
        </div>
      </div>
    </div>
  </div>
</nav>
