<div class="container-fluid my-2 pb-5">
  <h1
    class="text-center text-warning h-100vh mx-auto"
    *ngIf="(carousel$ | async)?.length! < 1"
  >
    Movie List is empty
  </h1>
  <ng-container *ngIf="(carousel$ | async)?.length! > 0">
    <div id="movies-carousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button
          [ngClass]="i == 0 ? 'active' : ''"
          [attr.aria-current]="i == 0 ? true : false"
          *ngFor="let movie of carousel$ | async; index as i"
          type="button"
          data-bs-target="#movies-carousel"
          [attr.data-bs-slide-to]="i"
          [attr.aria-label]="'Slide ' + i"
        ></button>
      </div>

      <div class="carousel-inner">
        <div
          class="carousel-item"
          *ngFor="let movie of carousel$ | async; index as i"
          [ngClass]="i == 0 ? 'active' : ''"
        >
          <img
            [src]="movie.bgImage"
            class="d-block w-100"
            height="550"
            [alt]="movie.name"
          />
          <div class="carousel-caption d-none d-md-block">
            <h5 class="fs-1 mb-3">{{ movie.name | uppercase }}</h5>
            <p class="lead">
              {{
                (movie.language | titlecase) +
                  " | " +
                  (movie.genres?.join(" - ") | titlecase) +
                  " | " +
                  movie.year
              }}
            </p>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#movies-carousel"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#movies-carousel"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <section
      *ngIf="(nowPlaying$ | async)?.length! > 0"
      class="now-showing my-5 bg-dark text-white p-lg-5"
    >
      <div class="row g-0 mb-5 justify-content-around">
        <h3 class="text-uppercase fs-2 col-11">Now Playing</h3>
        <a
          routerLink="../movies"
          [queryParams]="{ show: 'now-playing' }"
          class="d-block col-1 text-end"
          >view all</a
        >
      </div>
      <div class="now-showing-movies">
        <div class="card-group row g-0 justify-content-around">
          <div
            class="col-sm-11 col-md-5 col-lg-3 col-xxl-2 px-2 position-relative"
            *ngFor="let movie of nowPlaying$ | async"
          >
            <div class="image-card postion-relative rounded-5 overflow-hidden">
              <img
                [src]="movie.image"
                class="card-img-top"
                height="400"
                width="284"
                [alt]="movie.name"
              />
              <div
                class="
                  image-release
                  postion-absolute
                  bottom-0
                  start-0
                  bg-white
                  text-dark
                  w-100
                  text-center
                  py-2
                "
              >
                {{ formatRelease(movie.release) }}
              </div>
            </div>
            <div class="card-body text-center">
              <h2 class="card-title fs-4 mb-0">
                <a
                  class="stretched-link"
                  routerLink="../movie/{{ movie.id }}"
                  >{{ movie.name | uppercase }}</a
                >
              </h2>
              <h3 class="card-text text-muted">
                {{ movie.language | titlecase }}
              </h3>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section
      *ngIf="(upComing$ | async)?.length! > 0"
      class="up-coming my-5 p-lg-5"
    >
      <div class="row g-0 mb-5 justify-content-around">
        <h3 class="text-uppercase fs-2 col-11">Up Coming</h3>
        <a
          routerLink="../movies"
          [queryParams]="{ show: 'up-coming' }"
          class="d-block col-1 text-end"
          >view all</a
        >
      </div>
      <div class="up-coming-movies">
        <div class="card-group row g-0 justify-content-around">
          <div
            class="col-sm-11 col-md-5 col-lg-3 col-xxl-2 px-2 position-relative"
            *ngFor="let movie of upComing$ | async"
          >
            <div class="image-card postion-relative rounded-5 overflow-hidden">
              <img
                [src]="movie.image"
                class="card-img-top"
                height="400"
                width="284"
                [alt]="movie.name"
              />
              <div
                class="
                  image-release
                  postion-absolute
                  bottom-0
                  start-0
                  bg-dark
                  text-white
                  w-100
                  text-center
                  py-2
                "
              >
                {{ formatRelease(movie.release) }}
              </div>
            </div>
            <div class="card-body text-center">
              <h2 class="card-title fs-4 mb-0">
                <a
                  class="stretched-link"
                  routerLink="../movie/{{ movie.id }}"
                  >{{ movie.name | uppercase }}</a
                >
              </h2>
              <h3 class="card-text text-muted">
                {{ movie.language | titlecase }}
              </h3>
            </div>
          </div>
        </div>
      </div>
    </section>
  </ng-container>
</div>
