<!-- <div class="wrapper w-100 my-2">
  <div class="container-fluid row g-0 h-90vh">
    <div class="col-lg-3 px-2 border-3 border-end row g-0">
      <h2
        class="
          py-2
          rounded
          text-center text-dark
          shadow-sm
          border border-2 border-dark
          align-self-start
        "
      >
        Cinema Halls
      </h2>
      <div class="overflow-auto h-70vh">
        <mat-list role="list">
          <mat-list-item
            role="listitem"
            *ngFor="let cinema of cinemaHalls"
            class="position-relative options pe-cursor rounded"
            [ngClass]="{ active: cinema.name == selectedCinemaHall }"
            (click)="onCinemaHallSelect(cinema.name)"
          >
            <div class="w-100">
              {{ cinema.name }}
            </div>
            <span class="icon-holder w-auto">
              <mat-icon
                class="w-auto text-info me-1 pe-cursor edit-icon"
                aria-hidden="false"
                matTooltip="Edit Cinema Hall"
                (click)="onEditCinemaHall(cinema.name)"
                aria-label="edit icon"
                >edit
              </mat-icon>
              <mat-icon
                class="w-auto text-danger ms-1 pe-cursor delete-icon"
                aria-hidden="false"
                matTooltip="Delete Cinema Hall"
                (click)="onDeleteCinemaHall(cinema.name)"
                aria-label="delete icon"
                >delete
              </mat-icon>
            </span>
          </mat-list-item>
        </mat-list>
      </div>
      <button
        mat-raised-button
        (click)="onAddCinemaHall()"
        class="align-self-end mt-auto w-100 d-block"
        color="warn"
      >
        Add Cinema Hall
      </button>
    </div>
    <div class="col-lg-3 px-2 border-3 border-end row g-0">
      <h2
        class="
          py-2
          rounded
          text-center text-dark
          shadow-sm
          align-self-start
          border border-2 border-dark
        "
      >
        Shows
      </h2>
      <div class="overflow-auto h-70vh">
        <h1 *ngIf="!selectedShows" class="text-danger text-center">
          Select a Cinema Hall
        </h1>
        <mat-list *ngIf="selectedShows" role="list">
          <mat-list-item
            role="listitem"
            *ngFor="let show of selectedShows"
            class="position-relative options pe-cursor rounded"
            [ngClass]="{ active: show.name == selectedShow }"
            (click)="onShowSelect(show.name)"
          >
            <div class="w-100">
              {{ show.name }}
            </div>
            <span class="icon-holder w-auto">
              <mat-icon
                class="w-auto text-info me-1 pe-cursor edit-icon"
                aria-hidden="false"
                matTooltip="Edit Cinema Hall"
                aria-label="edit icon"
                (click)="onEditShow(show.name)"
                >edit</mat-icon
              >
              <mat-icon
                class="w-auto text-danger ms-1 pe-cursor delete-icon"
                aria-hidden="false"
                matTooltip="Delete Cinema Hall"
                aria-label="delete icon"
                (click)="onDeleteShow(show.name)"
                >delete</mat-icon
              >
            </span>
          </mat-list-item>
        </mat-list>
      </div>
      <button
        *ngIf="selectedShows"
        mat-raised-button
        class="align-self-end mt-auto w-100 d-block"
        (click)="onAddShow()"
        color="accent"
      >
        Add Show
      </button>
    </div>
    <div class="col-lg-6 px-2 row g-0">
      <h2
        class="
          py-2
          rounded
          text-center text-dark
          shadow-sm
          align-self-start
          border border-2 border-dark
        "
      >
        Movies
      </h2>
      <div class="overflow-auto h-70vh">
        <h1
          *ngIf="selectedShow && !selectedMovies.length"
          class="text-warning text-center"
        >
          Selected Show has no movies
        </h1>
        <h1 *ngIf="!selectedShow" class="text-danger text-center">
          Select a Show
        </h1>
        <mat-list *ngIf="selectedShow" role="list">
          <mat-list-item
            role="listitem"
            *ngFor="let movie of selectedMovies"
            class="position-relative options pe-cursor rounded"
          >
            <div class="w-100">
              {{ movie.name }}
            </div>
            <span class="icon-holder w-auto">
              <mat-icon
                class="w-auto text-info me-1 pe-cursor edit-icon"
                aria-hidden="false"
                matTooltip="Edit Cinema Hall"
                aria-label="edit icon"
                (click)="onEditMovie(movie.name)"
                >edit</mat-icon
              >
              <mat-icon
                class="w-auto text-danger ms-1 pe-cursor delete-icon"
                aria-hidden="false"
                matTooltip="Delete Cinema Hall"
                aria-label="delete icon"
                (click)="onDeleteMovie(movie.name)"
                >delete</mat-icon
              >
            </span>
          </mat-list-item>
        </mat-list>
      </div>
      <div
        class="row g-0 align-self-end mt-auto col-12 justify-content-between"
        *ngIf="selectedShow"
      >
        <button
          mat-raised-button
          class="col-5 text-capitalize"
          (click)="onAddMovie()"
          color="primary"
        >
          Add New Movie
        </button>
        <button
          mat-raised-button
          class="col-5 text-capitalize"
          (click)="onAddMovieToTheShow()"
          color="warn"
        >
          Add movie to the show
        </button>
      </div>
    </div>
  </div>
</div> -->
