<div class="col-8 mx-auto my-4">
  <mat-toolbar color="primary" class="rounded text-center">
    Your booking list
  </mat-toolbar>

  <mat-accordion>
    <mat-expansion-panel
      *ngFor="let booking of allBookings$ | async; index as i"
      (opened)="onBookingChange(booking.id!)"
      [expanded]="i == 0 ? true : false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> {{ "Booking " + (i + 1) }} </mat-panel-title>
        <mat-panel-description>
          {{ "booked on: " + booking.bookedOn }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Ticket</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
