<div class="movie-section">
  <div class="position-relative poster-wrapper p-3">
    <div
      class="movie-banner"
      style="
        background: linear-gradient(
            90deg,
            rgb(34, 34, 34) 24.97%,
            rgb(34, 34, 34) 38.3%,
            rgba(34, 34, 34, 0.04) 97.47%,
            rgb(34, 34, 34) 100%
          )
          no-repeat center center;
        background-size: cover;
      "
      style.background-image="linear-gradient(
        90deg,
        rgb(34, 34, 34) 24.97%,
        rgb(34, 34, 34) 38.3%,
        rgba(34, 34, 34, 0.04) 97.47%,
        rgb(34, 34, 34) 100%
      ), url({{ (selectedMovie$ | async)?.bgImage }})"
    >
      <div class="movie-poster row g-0">
        <div class="movie-image col-lg-3 col-md-6 col-sm-10 rounded-5">
          <img
            [src]="(selectedMovie$ | async)?.image"
            [alt]="(selectedMovie$ | async)?.name"
            width="100%"
            height="100%"
          />
          <div
            class="
              movie-release
              position-absolute
              bottom-0
              start-0
              py-2
              w-100
              bg-white
              text-center
            "
          >
            {{ formatRelease((selectedMovie$ | async)?.release) }}
          </div>
        </div>
        <div class="movie-details text-white mx-3 px-3 col-lg-5 col-sm-12">
          <div class="movie-title mb-lg-5 fs-lg-1">
            <h1>
              {{
                ((selectedMovie$ | async)?.name | uppercase) +
                  " : " +
                  ((selectedMovie$ | async)?.caption | titlecase)
              }}
            </h1>
          </div>
          <div class="movie-format my-3">
            <button class="btn btn-light btn-sm diabled mx-1">4D</button>
            <button class="btn btn-light btn-sm diabled mx-1">
              {{ (selectedMovie$ | async)?.language }}
            </button>
          </div>
          <div class="movie-duration my-3">
            <p style="font: unset; font-size: 20px">
              {{
                ((selectedMovie$ | async)?.duration | titlecase) +
                  " . " +
                  (selectedMovie$ | async)?.genres?.join(", ")
              }}
            </p>
          </div>
          <div class="links mt-4 align-self-end">
            <a
              mat-raised-button
              color="accent"
              class="me-2"
              (click)="openBottomSheet()"
              >Book Tickets</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="about-movie text-dark p-4">
    <h2>About the Movie</h2>
    <p class="lead" style="font-family: sans-serif">
      {{ (selectedMovie$ | async)?.story }}
    </p>
  </div>
  <!-- <nav class="px-4 py-3 w-100 shadow-sm bg-white text-dark">
    <h1>{{(selectedMovie$ | async)?.name + ' : '+ (selectedMovie$ | async)?.caption}}</h1>
    <p class="lead">{{(selectedMovie$ | async)?.genres.join(', ')}}</p>
  </nav> -->

  <div class="movie-cast ms-5 my-4" *ngIf="(cast$ | async)?.length! > 0">
    <h1 class="fs-lg-2">Cast</h1>
    <div class="row g-0">
      <div
        class="cast text-center col-sm-12 col-md-6 col-lg-3"
        *ngFor="let cast of cast$ | async"
      >
        <div class="image rounded-circle mx-auto mb-3">
          <!-- class="style__Image-eykeme-1 dkwyqp" -->
          <!-- style="border-radius: 60px; opacity: 1" -->
          <img
            [alt]="cast.name"
            width="120px"
            height="120px"
            [src]="cast.image"
          />
        </div>
        <div class="cast-name">
          <h5 class="fs-5">{{ cast.name }}</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="movie-crew ms-5 my-4 pb-5" *ngIf="(crew$ | async)?.length! > 0">
    <h1 class="fs-lg-2">Crew</h1>
    <div class="row g-0">
      <div
        class="crew text-center col-sm-12 col-md-6 col-lg-3"
        *ngFor="let crew of crew$ | async"
      >
        <div class="image rounded-circle mx-auto mb-3">
          <img
            [alt]="crew.name"
            width="120px"
            height="120px"
            [src]="crew.image"
          />
        </div>
        <div class="cast-name">
          <h5 class="fs-5">{{ crew.name }}</h5>
        </div>
      </div>
    </div>
  </div>
</div>
